@import url(https://fonts.googleapis.com/css?family=Karla:400,700&display=swap);
html{
    text-align: center;
font-family: Karla;
}

input {
    /* custom */
    caret-color: DeepPink;
  }
  .bottom {
    position: fixed;
    bottom: 0;
    } 

textarea {
    caret-color: green;
  }
  .btn:hover {background: rgba(238, 238, 238, 0.48);}
.fourofour {color: black}
.border-button {
  border: solid 2.5px rgb(0, 0, 0);
  transition: border-width 0.4s linear;
}
input {
    caret-color: red;
  }
  
  textarea {
    caret-color: green;
  }
  cursor{
      color: red;
  }
  html{
    color: white;
    
  }
  
